<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ir-edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        
    </head>
    
    <body style="padding: 20px;">
        <h1> Welcome to Machine Learning prediction for Default Credit Card Clients </h1>
        
        
        
        <a href="https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset">Go Kaggle: Default Credit Card Clients  </a>
        
        <br/><br/><br/><br/>
        
        <h2> Services </h2>
        
        <h3> Get: </h3>
        
        <a href="https://demomlservice.herokuapp.com/getfeaturescore"> https://demomlservice.herokuapp.com/getfeaturescore </a>
        
        <br/><br/>
        <h3> Post: </h3>
        <pre> {
            "LIMIT_BAL": "50000.8",
            "SEX": "2",
            "EDUCATION": "1",
            "MARRIAGE": "2.6",
            "AGE": "12",
            "PAY_0": "2",
            "PAY_2": "-1",
            "PAY_3": "",
            "PAY_4": "",
            "PAY_5": "",
            "PAY_6": "",
            "BILL_AMT1": "",
            "BILL_AMT2": "",
            "BILL_AMT3": "",
            "BILL_AMT4": "",
            "BILL_AMT5": "",
            "BILL_AMT6": "",
            "PAY_AMT1": "",
            "PAY_AMT2": "",
            "PAY_AMT3": "",
            "PAY_AMT4": "",
            "PAY_AMT5": "",
            "PAY_AMT6": ""
        } </pre>
        
        <a href="https://demomlservice.herokuapp.com/logrprediction"> https://demomlservice.herokuapp.com/logrprediction </a>
        
        <br/><br/>
        
        <a href="https://demomlservice.herokuapp.com/predictResults"> https://demomlservice.herokuapp.com/predictResults </a>
        
    </body>
</html>
